<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <title>DICOM Labeling</title>
</head>
<body>

    <form action="/load" method='POST'>
        <input type="text" name="data_directory" value="{{ data_directory }}">
        <input type="submit" value="load data">
    </form>

    {% if data_loaded %}

        <form action="/save" method='POST'>
            <table>
                {% for s in series %}
                    <tr>
                        <td>
                            <div class="slidecontainer">
                                <img class="image" alt="image series" id="series{{ s }}" src="data:image/png;base64,{{ url_for('image', img_id=s
                                        , frame_id=0 )}}"><br>
                                <input type="range" min="0" max="{{ frames[s]- 1 }}" value="0" class="slider" id="slider{{ s }}"><br>
                                <p>Frame: <span id="current_frame{{ s }}"></span> ({{ frames[s] }})</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p><b>DICOM data</b></p>
                                <p>Name: {{ dicom_data[s]['patientname'] }}</p>
                                <p>Time: {{ dicom_data[s]['time'] }}</p>
                                <p>Date: {{ dicom_data[s]['date'] }}</p>
                                <p>File: {{ dicom_data[s]['file'] }}</p>
                                <p>Workflow phase: <input type="number" name="workflow_phase" value="{{ workflow_phase[s] }}"></p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>



            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{
                url_for('static', filename='jquery.js') }}">\x3C/script>')
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            </script>

            {% for s in series %}
                <script>
                    $.ajax({
                      dataType: "text",
                      url: $SCRIPT_ROOT + '/img/' + {{ s }} + '/' + document.getElementById("slider"+ {{ s }}).value,
                      data: "null",
                      success: function(data) {
                          console.log("fuck");
                          $("#series"+{{ s }}).attr("src", "data:image/png;base64," + data);
                      }
                    });

                    $(function() {
                        $('#slider{{ s }}').on('change click oninput', function() {
                            $.ajax({
                              dataType: "text",
                              url: $SCRIPT_ROOT + '/img/' + {{ s }} + '/' + document.getElementById("slider"+{{ s }}).value,
                              data: "null",
                              success: function(data) {
                                  console.log("fuck");
                                  $("#series"+{{ s }}).attr("src", "data:image/png;base64," + data);
                              }
                            });
                            return false;
                        });
                    });

                    let slider{{ s }} = document.getElementById("slider{{ s }}");
                    let output{{ s }} = document.getElementById("current_frame{{ s }}");
                    output{{ s }}.innerHTML = slider{{ s }}.value;

                    slider{{ s }}.oninput = function() {
                      output{{ s }}.innerHTML = this.value;
                    }
                </script>
            {% endfor %}

            <input type="submit" value="save data">

        </form>

    {% endif %}

</body>
</html>